---
layout: default
title: Erik Molenaar
---

<script type="text/javascript" src="assets/js/tagsort.js"></script>
<noscript>Sorry, your browser does not support JavaScript! Functionality may be limited.</noscript>

{% if site.tags %}
  <a href="#" onclick="OnClickCollapseBox(document.getElementById('tag-box'))">
    <h4>Filters</h4>
  </a>
  <div id="tag-box" class="collapse-box collapse-box-hidden">
	<ul class="tag-list tag-list-large">
	  {% for tag in site.tags %}
		<li class="tag-pill tag-pill-large">
		  <a href="#" onclick="OnClickTagButton(this)">{{ tag[0] | slugify: "none" }}</a>
		</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

<ul class="no-padding post-list">
  {% for post in site.posts %}
    <li class="post grow">
      {% include post-format.html %}
    </li>
  {% endfor %}
</ul>