---
layout: default
title: Erik Molenaar
---

<script type="text/javascript" src="assets/js/tagsort.js"></script>
<noscript>Sorry, your browser does not support JavaScript! Functionality may be limited.</noscript>

<a onclick="HideAllPosts()" style="margin-bottom: 50px;">Hide most!</a>

{% if site.tags %}
<h4>All tags</h4>
  {% for tag in site.tags %}
    <span>full: {{tag}} || and name only: {{ tag[0] | slugify: "none" }}</li>
  {% endfor %}
{% endif %}

<ul class="no-padding post-list">
  {% for post in site.posts %}
    <li class="post grow">
      {% include post-format.html %}
    </li>
  {% endfor %}
</ul>