---
layout: default
title: Erik Molenaar
---

<script type="text/javascript" src="assets/js/tagsort.js"></script>
<noscript>Sorry, your browser does not support JavaScript! Functionality may be limited.</noscript>

{% if site.tags %}
<div style="margin-bottom: 10px;">
  <a href="#" onclick="ToggleVisibility(this, document.getElementById('tag-box'))">
    <h3 class="link-box">Filters</h3>
  </a>
  <div id="tag-box" class="collapse-box">
	<ul class="tag-list tag-list-large collapse-box-content">
	  {% for tag in site.tags %}
		<li class="tag-pill tag-pill-large">
		  <a href="#" onclick="OnClickTagButton(this)">{{ tag[0] | slugify: "none" }}</a>
		</li>
	  {% endfor %}
	</ul>
  </div>
</div>
{% endif %}

<ul class="no-padding post-list">
  {% for post in site.posts %}
    <li class="post grow">
      {% include post-format.html %}
    </li>
  {% endfor %}
</ul>