{% capture post-tags %}{{ post.tags | array_to_sentence_string: '' }}{% endcapture %}
<a href="{{ post.url }}" data-tags="{{ post-tags | slugify: 'none' }}">
  {% if post.preview %}
    <div class="post-preview-box" style="background-image: url({{ post.preview | absolute_url }})">
  {% elsif post.images %}
    {% for image in post.images limit:1 %}
      <div class="post-preview-box" style="background-image: url({{ image | absolute_url }})">
    {% endfor %}
  {% else %}
    <div class="post-preview-box" style="background-image: url(/assets/images/placeholder.jpg)">
  {% endif %}
    <b class="post-preview-text">{{ post.title }}</b>
  </div>
  <div class="tag-container">
	<ul class="tag-list tag-list-postpreview">
	  {% if post.tags %}
	    {% for tag in post.tags %}
		  <li class="tag-pill tag-pill-postpreview" >{{ tag | slugify: "none" }}</li>
	    {% endfor %}
	  {% endif %}
	</ul>
  </div>
</a>