---
---

@import "{{ site.theme }}";

:root {
	--post-width: 260px;
	--post-height: 190px;
	--post-tags-height: 23px;
	
	--background: #0E2A47;
	--background-sub: #00459E;
    --content-foreground: #0A2434; 
    --content-foreground-85: #0A243494; 
    --content-background: #0b1634; 
	--text-color: #B4CDF4;
}

html {
  scroll-behavior: smooth;
}

body {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M369.31 84.02L434.26 121.52L434.26 196.52L369.31 234.02L304.36 196.52L304.36 121.52zM629.12 309.02L694.08 346.52L694.08 421.52L629.12 459.02L564.17 421.52L564.17 346.52zM888.94 309.02L953.89 346.52L953.89 421.52L888.94 459.02L823.98 421.52L823.98 346.52zM953.89 -28.48L1018.85 9.02L1018.85 84.02L953.89 121.52L888.94 84.02L888.94 9.02zM1018.85 309.02L1083.8 346.52L1083.8 421.52L1018.85 459.02L953.89 421.52L953.89 346.52zM953.89 421.52L1018.85 459.02L1018.85 534.02L953.89 571.52L888.94 534.02L888.94 459.02zM1083.8 -28.48L1148.75 9.02L1148.75 84.02L1083.8 121.52L1018.85 84.02L1018.85 9.02zM1148.75 534.02L1213.71 571.52L1213.71 646.52L1148.75 684.02L1083.8 646.52L1083.8 571.52zM1278.66 309.02L1343.61 346.52L1343.61 421.52L1278.66 459.02L1213.71 421.52L1213.71 346.52zM1213.71 421.52L1278.66 459.02L1278.66 534.02L1213.71 571.52L1148.75 534.02L1148.75 459.02zM1343.62 196.52L1408.57 234.02L1408.57 309.02L1343.62 346.52L1278.66 309.02L1278.66 234.02z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M361.81 84.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM426.76 121.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM426.76 196.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM361.81 234.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM296.86 196.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM296.86 121.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM621.62 309.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM686.58 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM686.58 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM621.62 459.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM556.67 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM556.67 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM881.44 309.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM946.39 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM946.39 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM881.44 459.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM816.48 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM816.48 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM946.39 -28.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1011.35 9.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1011.35 84.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM946.39 121.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM881.44 84.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM881.44 9.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1011.35 309.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1011.35 459.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1011.35 534.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM946.39 571.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM881.44 534.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 -28.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1141.25 9.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1141.25 84.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 121.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1141.25 534.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1206.21 571.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1206.21 646.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1141.25 684.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 646.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1076.3 571.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1271.16 309.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1336.11 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1336.11 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1271.16 459.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1206.21 421.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1206.21 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1271.16 534.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1141.25 459.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1336.12 196.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1401.07 234.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1401.07 309.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1336.12 346.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1271.16 234.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M11.73 105.01L55.03 130.01L55.03 180.01L11.73 205.01L-31.57 180.01L-31.57 130.01zM141.64 30.01L184.94 55.01L184.94 105.01L141.64 130.01L98.34 105.01L98.34 55.01zM141.64 330.01L184.94 355.01L184.94 405.01L141.64 430.01L98.34 405.01L98.34 355.01zM98.34 405.01L141.64 430.01L141.64 480.01L98.34 505.01L55.03 480.01L55.03 430.01zM141.64 480.01L184.94 505.01L184.94 555.01L141.64 580.01L98.34 555.01L98.34 505.01zM184.94 -44.99L228.24 -19.99L228.24 30.01L184.94 55.01L141.64 30.01L141.64 -19.99zM228.24 30.01L271.55 55.01L271.55 105.01L228.24 130.01L184.94 105.01L184.94 55.01zM228.24 330.01L271.55 355.01L271.55 405.01L228.24 430.01L184.94 405.01L184.94 355.01zM401.45 480.01L444.76 505.01L444.76 555.01L401.45 580.01L358.15 555.01L358.15 505.01zM488.06 30.01L531.36 55.01L531.36 105.01L488.06 130.01L444.76 105.01L444.76 55.01zM488.06 180.01L531.36 205.01L531.36 255.01L488.06 280.01L444.76 255.01L444.76 205.01zM444.76 405.01L488.06 430.01L488.06 480.01L444.76 505.01L401.45 480.01L401.45 430.01zM574.66 30.01L617.97 55.01L617.97 105.01L574.66 130.01L531.36 105.01L531.36 55.01zM531.36 105.01L574.66 130.01L574.66 180.01L531.36 205.01L488.06 180.01L488.06 130.01zM574.66 330.01L617.97 355.01L617.97 405.01L574.66 430.01L531.36 405.01L531.36 355.01zM617.97 -44.99L661.27 -19.99L661.27 30.01L617.97 55.01L574.66 30.01L574.66 -19.99zM617.97 255.01L661.27 280.01L661.27 330.01L617.97 355.01L574.66 330.01L574.66 280.01zM747.87 180.01L791.18 205.01L791.18 255.01L747.87 280.01L704.57 255.01L704.57 205.01zM747.87 330.01L791.18 355.01L791.18 405.01L747.87 430.01L704.57 405.01L704.57 355.01zM791.18 -44.99L834.48 -19.99L834.48 30.01L791.18 55.01L747.87 30.01L747.87 -19.99zM834.48 180.01L877.78 205.01L877.78 255.01L834.48 280.01L791.18 255.01L791.18 205.01zM791.18 255.01L834.48 280.01L834.48 330.01L791.18 355.01L747.87 330.01L747.87 280.01zM921.08 330.01L964.39 355.01L964.39 405.01L921.08 430.01L877.78 405.01L877.78 355.01zM964.39 255.01L1007.69 280.01L1007.69 330.01L964.39 355.01L921.08 330.01L921.08 280.01zM964.39 405.01L1007.69 430.01L1007.69 480.01L964.39 505.01L921.08 480.01L921.08 430.01zM1094.29 30.01L1137.6 55.01L1137.6 105.01L1094.29 130.01L1050.99 105.01L1050.99 55.01zM1050.99 105.01L1094.29 130.01L1094.29 180.01L1050.99 205.01L1007.69 180.01L1007.69 130.01zM1050.99 255.01L1094.29 280.01L1094.29 330.01L1050.99 355.01L1007.69 330.01L1007.69 280.01zM1094.29 330.01L1137.6 355.01L1137.6 405.01L1094.29 430.01L1050.99 405.01L1050.99 355.01zM1050.99 405.01L1094.29 430.01L1094.29 480.01L1050.99 505.01L1007.69 480.01L1007.69 430.01zM1180.9 330.01L1224.2 355.01L1224.2 405.01L1180.9 430.01L1137.6 405.01L1137.6 355.01zM1267.5 30.01L1310.81 55.01L1310.81 105.01L1267.5 130.01L1224.2 105.01L1224.2 55.01zM1224.2 105.01L1267.5 130.01L1267.5 180.01L1224.2 205.01L1180.9 180.01L1180.9 130.01zM1310.81 105.01L1354.11 130.01L1354.11 180.01L1310.81 205.01L1267.5 180.01L1267.5 130.01zM1440.71 180.01L1484.02 205.01L1484.02 255.01L1440.71 280.01L1397.41 255.01L1397.41 205.01z' stroke='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='220.03199999999998' y1='-220.02399999999997' x2='1219.9679999999998' y2='780.024' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	/*background-color: #0B2027;*/
	color: var(--text-color);
}

a {
	color: var(--text-color);
}
a:hover {
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
}

.wrapper {
	width: 70%;
}
.wrapper header {
	width: 100%;
	padding: 0;
}
@media (min-width: 961px) {
	.wrapper header {
		width: 28%;
		position: static;
	}
	.wrapper section {
		width: 100%;
		float: none;
		display: inline-block;
	}
}

section {
	border: none !important;
}

.nav-block {
	display: flex;
	justify-content: center;
}

.nav-button {
	font-size: 1.5em;
	background-color: var(--content-foreground);
	margin: 0 5px;
	border-radius: 10px;
	border: 1px solid var(--background-sub);
	padding: 5px 10px;
	font-weight: bold;
	color: var(--text-color) !important;
}

.about {
	display: flex;
}
@media (max-width: 960px) {
	.about {
		flex-wrap: wrap;
	}
}

.about div {
	align-self: center;
}

.logo {
	display: block;
	width: 80%;
	max-width: 250px;
	max-height: 250px;
	height: auto;
	margin: 0 50px 10px auto;
}

.name-header {
	font-family: Asimovian;
	font-size: 5em;
	text-align: center;
	margin-bottom: 0;
}

h3.name-header {
	font-size: 2em;
	margin-bottom: 20px;
}

.post-image-box {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.post-image {
	margin: 20px;
}

.icon {
	vertical-align: middle;
	width: auto;
	height: 20px;
	margin-right: 10px;
}

.featured-list {
	width: 70%;
	margin: 0 auto 20px auto;
}

.post-list {
	text-align: center;
}

li.post {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
	position: relative;
	text-align: left;
}
.post {
	width: var(--post-width);
	height: var(--post-height);
	border-radius: 7px;
	overflow: hidden;
}

.post-hidden {
	width: 0 !important;
	margin: 0 !important;
}

.post-preview-box {
	display: flex;
	height: calc(var(--post-height) - var(--post-tags-height));
	background-size: var(--post-width) 100%;
}

.post-preview-text {
	min-width: var(--post-width);
	padding: 0 5px;
	background-color: var(--content-foreground-85);
	align-self: flex-end;
}

.filter-box {
	margin-bottom: 10px;
	float: right;
	width: 30%;
	position: sticky;
	top: 20px;
}

.link-box {
	background-color: var(--content-foreground);
	
	padding: 10px;
	margin-bottom: 0;
	border-radius: 10px 10px 0 0;
	border: 1px solid var(--background-sub);
}

.collapse-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapse-box-content {
	background-color: var(--content-background);
	border-radius: 0 0 10px 10px;
	border: 1px solid var(--background-sub);
	padding: 10px;
}

.tag-container {
	min-width: var(--post-width);
}

.tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tag-list-postpreview {
	background-color: var(--content-background);
	padding: 2px;
}
.tag-list-large {
	padding-bottom: 0;
}

.tag-pill {
	border: 1px solid #3a3a3a;
	
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	vertical-align: top;
}
.tag-pill-postpreview {
	font-weight: bold;
	
	background-color: var(--background);
	border-radius: 10px;
	
	font-size: x-small;
	
	padding: 2px 5px;
	padding-top: 0;	
	margin-right: 2px;
	margin-bottom: 5px;
}
.tag-pill-large {
	background-color: var(--background);
	border-radius: 20px;
	
	font-size: medium;
	
	padding: 4px 7px;
	padding-top: 2px;
	margin-right: 7px;
	margin-bottom: 10px;
}
.tag-pill.personal {
	background-color: green;
}
.tag-pill.professional {
	background-color: blue;
}

.grow {
  transition: all .5s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  z-index: 100;
}

.infourl {
	text-decoration: underline;
}

.clickable {
	cursor: pointer;
	font-weight: bold;
}

.no-padding {
	padding: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.social-line {
	display: flex;
	align-items: center;
}

.video {
    width: 50%;
	aspect-ratio: 16/9;
	display: flex;
	margin: auto;
}