---
---

@import "{{ site.theme }}";

:root {
	--post-width: 260px;
	--post-height: 190px;
	--post-tags-height: 23px;
}

.wrapper {
	width: 70%;
}
.wrapper header {
	width: 100%;
	padding: 0;
}
@media (min-width: 961px) {
	.wrapper header {
		width: 28%;
		position: static;
	}
	.wrapper section {
		width: 70%;
		margin-left: 2%;
		display: inline-block;
	}
}

.logo {
	display: block;
	width: 80%;
	max-width: 250px;
	margin: 0 auto 10px auto;
}

.post-image {
	margin-top: 10px !important;
	display: block;
	margin: auto;
}

.icon {
	vertical-align: middle;
	width: auto;
	height: 20px;
	margin-right: 10px;
}

.post-list {
	text-align: center;
}

li.post {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
	position: relative;
	text-align: left;
}
.post {
	width: var(--post-width);
	height: var(--post-height);
	border-radius: 7px;
	overflow: hidden;
}

.post-hidden {
	width: 0 !important;
	margin: 0 !important;
}

.post-preview-box {
	display: flex;
	height: calc(var(--post-height) - var(--post-tags-height));
	background-size: var(--post-width) 100%;
}

.post-preview-text {
	min-width: var(--post-width);
	padding: 0 5px;
	background-color: rgba(200, 200, 200, 0.8);
	align-self: flex-end;
}

.collapse-box {
    margin: .5em 1em;
    padding: 1em;
}
.collapse-box-hidden {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
	height: 0;
    /* fade out, then shrink */
    transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s,
                height .5s .25s;
}
.collapse-box-shown {
    /* unshrink, then fade in */
    transition: font-size .25s,
                margin .25s,
                padding .25s,
                height .25s,
                opacity .5s .25s;
}

.tag-container {
	min-width: var(--post-width);
}

.tag-list {
	list-style: none;
	margin: 0;
}
.tag-list-postpreview {
	background-color: #ccc;
	padding: 2px;
}
.tag-list-large {
	padding: 0 10px;
}

.tag-pill {
	border: 1px solid #aaa;
	
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	vertical-align: top;
}
.tag-pill-postpreview {
	color: inherit !important;
	font-weight: normal !important;
	
	background-color: #bbb;
	border-radius: 10px;
	
	font-size: x-small;
	
	padding: 2px 5px;
	padding-top: 0;	
	margin-right: 2px;
	margin-bottom: 5px;
}
.tag-pill-large {
	background-color: #bbb;
	border-radius: 20px;
	
	font-size: medium;
	
	padding: 4px 7px;
	padding-top: 2px;
	margin-right: 7px;
	margin-bottom: 10px;
}

.grow {
  transition: all .5s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  z-index: 100;
}

.infourl {
	text-decoration: underline;
}

.no-padding {
	padding: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.social-line {
	display: flex;
	align-items: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}