---
---

@import "{{ site.theme }}";

.post-image {
	margin-top: 10px;
	display: block;
	margin: auto;
}

.icon {
	vertical-align: middle;
	width: auto;
	height: 20px;
	margin-right: 10px;
}

li.post {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
	position: relative;
}
.post {
	width: 238px;
	height: 150px;
	border-radius: 7px;
	overflow: hidden;
}
.post img {
	width: 100%;
	height: 100%;
}

.overlay-text {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 5px;
	background-color: rgb(200, 200, 200, 0.7);
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  z-index: 100;
}

.no-padding {
	padding: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}