---
---

@import "{{ site.theme }}";

.wrapper {
	width: 70%;
}
.wrapper header {
	width: 100%;
	padding: 0;
}
@media (min-width: 961px) {
	.wrapper header {
		width: 28%;
		position: static;
	}
	.wrapper section {
		width: 70%;
		margin-left: 2%;
		display: inline-block;
	}
}

.logo {
	display: block;
	width: 80%;
	max-width: 250px;
	margin: 0 auto 10px auto;
}

.post-image {
	margin-top: 10px !important;
	display: block;
	margin: auto;
}

.icon {
	vertical-align: middle;
	width: auto;
	height: 20px;
	margin-right: 10px;
}

.post-list {
	text-align: center;
}

li.post {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
	position: relative;
	text-align: left;
}
.post {
	width: 260px;
	height: 170px;
	border-radius: 7px;
	overflow: hidden;
}

.infourl {
	text-decoration: underline;
}

.overlay-text {
	padding: 0 5px;
	background-color: rgba(200, 200, 200, 0.8);
	width: 100%;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  z-index: 100;
}

.no-padding {
	padding: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.social-line {
	display: flex;
	align-items: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}