---
---

@import "{{ site.theme }}";

.post-image {
	margin-top: 10px;
	display: block;
	margin: auto;
}

.icon {
	vertical-align: middle;
	width: auto;
	height: 20px;
	margin-right: 10px;
}

li.post {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}
.post {
	width: 200px;
	height: 130px;
	border-radius: 10px;
}
.post img {
	width: 100%;
	height: 100%;
}

.overlay-text {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 5px;
	background-color: rgb(1, 1, 1, 0.6);
}